# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
**/._*

# Python / Pylance
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
.pytest_cache/
.mypy_cache/

# VS Code / Pylance Workspace Settings
.vscode/

# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (Linux/Unix)
*.so
*.so.*

# Dynamic libraries (macOS)
*.dylib

# Executables (Windows)
*.exe
*.out
*.app


# ignore all decompressed fasta and gff file
*.fa
*.fasta

*.gff
*.gff3

# ignore all pycache
*.pyc
__pycache__/


# ignore all data prep files
*.bin
*.json
*.jsonl

# Ignore test output file
output

# Ignore personal test file
test666.py